@import '../../../assets/styles/_colors';

.root {
  position: relative;

  .sideBar {
    height: 100vh;

    background-color: $menu-bg;

    z-index: 11;

    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      height: 50px;
      width: 90%;
      margin-top: 10px;
      margin-left: 5%;

      color: $white;

      font-weight: 700;

      &.active {
        margin-bottom: 10px;

        justify-content: center;
        flex-wrap: wrap;
      }

      span {
        color: $primary;
      }

      .sideBar-icon {
        color: $white;
      }
    }

    &-title {
      &.active {
        margin-bottom: 10px;
        cursor: pointer;
      }
    }
  }

  .container {
    max-height: 100vh;
    padding: 0px 16px;
    padding-top: 10px;
    box-sizing: border-box;

    overflow: auto;
  }
}