@import '@assets/styles/__colors.scss';

.card {
  cursor: pointer;
  &-image {
    width: 100%;
    height: 309px;
  }
  &-tags {
    margin-bottom: 10px;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  
  margin: 20px 0px;
}

.filter {
  display: flex;
  justify-content: space-between;

  margin: 16px 0px;

  .listCategory {
    flex: 1;
  }
}
.searchTemplate {
  cursor: pointer;
  &:hover {
    color: $primary;
  }
}