$primary: #408cff;
$success: #65c344;
$secondary: #858687;

$gradient-primary: linear-gradient(138.28deg, #64aaff 15.08%, #006bee 85.4%);
$gradient-secondary: linear-gradient(135deg, #9a9cff 15%, #5d5aed 84.09%);
$gradient-danger: linear-gradient(180deg, #ff7070 0%, #e32f2f 100%);

$gray: #b6bcc1;
$gray1: #8f90a6;
$gray2: #5a5a5a;
$light-gray: #b8b9ba;

$black: #1f2329;
$red: #ff4d4f;

$white: #fff;
$white-boder: #cccccc;
$ghost: #ececec;
$box-shadow-color: #e9e9e9;
$base-border-color: #dee0e3;
$egg-blue: #13c2c2;
$text-subtitle: #666c75;
$cian: #87e8de;
$higlight-blue: #0d6eff;
$bule1: #40a9ff;

$menu-bg: #3a4869;
$menu-item-active-bg: #272e43;
$menu-item-active-text: $white;
$menu-item-text: $ghost;

$wrk-header-tab-bg: #f2f3f5;
$wrk-header-tab-color: #b8b9ba;

$main-container-bg: #f8f9fa;
$line-border: #dbdbdb;
$input-border: #d9d9d9;
$cool-elegance: #cfcfd0;
$menu-hover-bg: #f0f5ff;

$yellow-one: #fff7e6;
$yellow-boder: #ffd519;
$yellow-color: #fa8c16;
$bg-button: #bcbfc3;

$purple: #722ed1;
$purple-border: #d3adf7;
$background-purple: #f9f0ff;
$strong-blue: #2f54eb;
$border-blue: #adc6ff;
$background-tree: #e7e7e7;
$background-yellow: #ffd666;
$mid-blue: #096dd9;
$dust-red6: #f5222d;
$dust-red1: #fff1f0;
$light-blue: #e6f7ff;
$light-cyan: #e6fffb;
$button-secondary: #858687;
$button-excel: #58a55c;

$volcano-color: #d4380d;
$volcano-bg: #fff2e8;

$divider-white: rgba(255, 255, 255, 0.12);
