@import '@assets/styles/__colors.scss';

.container {
  /* Box Model */
  padding: 0px 10px;
}

.containerMobile {
  &-header {
    position: fixed;
    top: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: 50px;
    box-sizing: border-box;
    padding: 0px 10px;

    background: $gray2;

    z-index: 99;

    .label-wrapper {
      display: flex;
      align-items: center;

      gap: 6px;

      color: $primary;
      cursor: pointer;

      .icon {
        width: 16px;
        height: 16px;

        color: $white;
      }
    }

    .label {
      flex: 1;

      color: $white;

      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
    }
  }

  &-label {
    color: $white;

    font-weight: 700;
  }
}

.sideBar {
  &-box {
    position: fixed;
    left: 0px;
    top: 50px;

    display: none;

    width: 100%;
    height: calc(100vh - 50px);
    padding: 0px 10px;

    background: $white;

    z-index: 99;

    &.active {
      display: block;
    }
  }

  &-list {
    margin-top: 10px;
  }

  &-item {
    display: flex;
    justify-content: center;

    padding: 15px 0px;
    border-radius: 8px;

    background: $primary;
    color: $white;

    font-weight: 700;
  }

  &-icon svg path {
    fill: $white;
  }

  &-search {
    display: flex;
    justify-content: center;

    width: 100%;
    height: 100%;
  }

  &-more {
    margin: 10px 0px;
  }
}

.tab-drawer {
  div[class*='ant-drawer-content-wrapper'] {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    >div {
      border-radius: inherit;
    }
  }

  .tab-header {
    padding-bottom: 20px;

    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
  }

  .tab-list {
    .tab-item {
      display: flex;
      align-items: center;

      padding: 8px 4px;
      height: 40px;
      border-radius: 8px;
      margin-bottom: 5px;

      cursor: pointer;

      &:hover {
        background-color: $menu-hover-bg;
      }

      &.active {
        background-color: $menu-hover-bg;

        .content {
          color: $primary;

          .icon {
            color: inherit;
          }
        }
      }

      .icon {
        width: 24px;
        height: 24px;

        color: $secondary;
      }

      .content {
        display: flex;
        align-items: center;

        gap: 10px;
      }
    }
  }
}

.main {
  &-mobile {
    margin-top: 60px;
  }
}